#login-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid aqua;
    padding-right: 100px;
    padding-left: 100px;
    background-color: aqua;
    border-radius: 100px;
    margin-top: 100px;
    padding-top:  10px;
    padding-bottom:  10px;
  }
  
  #login-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  #login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  #login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #login-btn:hover {
    background-color: #3e8e41;
  }
  